.titulos {
    font-size: 2.5rem;
    color: #09ACB8;
    margin: 1rem 2rem;
}

.parrafos {
    font-size: 1.5rem;
    color: #048a94;
    margin: 1rem 2rem;
}

.space {
    margin: 0.8rem;
}

.link {
    font-size: 1.5rem;
    padding: 0;
}

.container {
    display: inline-block;
}

@media screen and (max-width: 992px) {
    .container { display: flex; flex-flow: column; }
    .two { order: 1 }
    .one { order: 2 }
}